.gridContainer {
  max-width: 375px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid red;
}

.transformImg {
  max-width: 375px;
}

.transformText {
  width: 327px;
  padding: 56px 0 64px 0;
  margin: 0 auto;
  border: 1px solid green;
}

.standOutImg {
  max-width: 375px;
}

.standOutText {
  width: 327px;
  padding: 64px 0;
  margin: 0 auto;
  border: 1px solid green;
}

.transformText h2,
.standOutText h2 {
  font-family: var(--ff-fraunces);
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  color: var(--very-dark-desaturated-blue);
  text-align: center;
}

.transformText p,
.standOutText p {
  font-size: 18px;
  line-height: 30px;
  color: var(--dark-grayish-blue);
  padding: 32px 0;
  text-align: center;
}

.transformText a,
.standOutText a {
  display: block;
  text-align: center;
  font-family: var(--ff-fraunces);
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--very-dark-desaturated-blue);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;
  z-index: 1;
}

.transformText a:hover {
  text-decoration: none;
  position: relative;
}

.transformText a:hover::after {
  content: '';
  width: 137px;
  height: 10px;
  border-radius: 28px;
  background-color: var(--yellow);
  opacity: 0.25;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.standOutText a:hover {
  text-decoration: none;
  position: relative;
}

.standOutText a:hover::after {
  content: '';
  width: 137px;
  height: 10px;
  border-radius: 28px;
  background-color: var(--soft-red);
  opacity: 0.25;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.graphicDesign {
  background-image: url('../../../public/images/mobile/image-graphic-design.jpg');
  background-size: cover;
  background-position: center;
  max-width: 375px;
  min-height: 600px;
}

.photography {
  background-image: url('../../../public/images/mobile/image-photography.jpg');
  background-size: cover;
  background-position: center;
  max-width: 375px;
  min-height: 600px;
}

.graphicDesign h3,
.photography h3 {
  font-family: var(--ff-fraunces);
  font-weight: 900;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  padding: 398px 0 27px 0;
}

.graphicDesign h3,
.graphicDesign p {
  color: var(--dark-desaturated-cyan-graphic-design-text);
}

.photography h3,
.photography p {
  color: var(--dark-blue-photography-text);
}

.graphicDesign p,
.photography p {
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  padding: 0 22px;
}

@media (min-width: 1440px) {
  .gridContainer {
    max-width: 1440px;
    grid-template-columns: 3fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    border: 2px solid red;
  }

  .transformText {
    grid-row: 1;
    grid-column: 1;
  }

  .transformImg {
    grid-row: 1;
    grid-column: 2;
  }

  .transformImg,
  .standOutImg {
    max-width: 720px;
  }

  .transformText,
  .standOutText {
    width: 450px;
    padding: 157px 0;
  }

  .transformText h2,
  .standOutText h2,
  .transformText p,
  .standOutText p,
  .transformText a,
  .standOutText a {
    text-align: left;
  }

  .transformText a,
  .standOutText a {
    padding-left: 8.5px;
  }

  .transformText h2,
  .standOutText h2 {
    font-size: 40px;
    line-height: 49px;
  }

  .standOutText a:hover::after,
  .transformText a:hover::after {
    opacity: 1;
    left: 15%;
  }

  .graphicDesign {
    background-image: url('../../../public/images/desktop/image-graphic-design.jpg');
    max-width: 720px;
  }

  .photography {
    background-image: url('../../../public/images/desktop/image-photography.jpg');
    max-width: 720px;
  }
}
